

body{
    background-color: #72dfa1;
}


header{
    background-image: linear-gradient(to bottom, #39CB79, #1A5C38);
    color: rgb(243, 247, 250);
    padding-top: 30px;
    padding-bottom: 10px;
    margin-top: 0px;
}
header>h1{
    text-align: center;
    font-family:Barlow Condensed;
    font-size: 2.5em;
    font-weight: bolder;

}
p#sub{
    text-align: center;
    padding-bottom:20px;
    padding-top: 10px;
    
}
p#menu{
    display: inline;
    
}
p>span{
    padding-left: 10px;
    font-family:Roboto Condensed;
    
}
p>span:hover{
    background-color: rgba(255, 254, 254, 0.397);
}
main{
    margin: auto;
    background-color: white;
    width: 35em;
    padding: 13px;
    text-align: justify;
}
h2{
    font-family: 'android';
}
h3{
 background-color: #72dfa1;
}
