@font-face {
    font-family: 'android';
    src: url('idroid.otf') format('opentype');
}


body{
    background-color: #72dfa1;
}


header{
    background-image: linear-gradient(to bottom, #48b677, #0c2c1a);
    color: rgb(243, 247, 250);
    padding-top: 40px;
    padding-bottom: 10px;
    margin: 0%;
    border: 0%;
    min-height: 150px;
    
    
}
header>h1{
    text-align: center;
    font-family:bebas neue;
    font-size: 2.5em;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);
    font-size: 3em;

}
p#sub{
    text-align: center;
    
    padding-bottom:20px;
    padding-top: 10px;
    font-size: 1.1em;
    
}
p#menu{
    display: inline;
    
}
p#menu>span{
    padding:10px;
    font-size: bolder;
    letter-spacing: 0.05em;
    border-radius: 5px;
    transition-duration: 0.3s;
    
}

p>span:hover{
    background-color: rgba(255, 254, 254, 0.397);
}
main{
    margin: auto;
    background-color: white;
    
    padding: 13px;
    text-align: justify;
    min-width: 300px;
    max-width: 1000px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.568);
    
}
h2{
    color: #1A5C38;
    font-family: android;
}
h3{
    font-family: android;
 background-image: linear-gradient(to right, #8fe0b2a9, #ffffff );
 color: #1A5C38;
}

main img{
    max-width: 100%;
    text-align: center;
    display: block;
    margin: auto;
    
}
a{
    text-decoration: none;
    color: #1A5C38;
}
a:hover{
    color: #acdf72;
}
a:active{
    color: rgb(182, 74, 47);
}

section#vid{
    background-color: #1A5C38;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    padding: 13px;
    text-align: center;
}
h4{
    background-color: #1A5C38;
    padding: 5px;
    color: #ffffff;
    border-radius: 10px 10px 0px 0px;
    margin: auto;
    
}



footer{
    margin-top: 20px;
    text-align: center;
    background-color: #1A5C38;
    color: #ffffff;
}
li{
    background-color: #bbe7cf;
    padding: 5px;
}
p{
    margin: 10px;
    text-indent: 20px;
    line-height: 1.3em;
}

aside{
    margin: auto;
    background-color:#bbe7cf;
    
    padding-bottom: 10px;
    text-align: justify;
    min-width: 300px;
    max-width: 1000px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.568);
    border-radius: 10px;
}
aside>ul{
    list-style-position: inside;
    list-style-type: '\2714\00A0';
    
    background-color: #bbe7cf;
    margin: 0px;
    padding: 10px;
    columns: 2;
    color: #1A5C38;
}